@model string

<div asp-validation-summary="All" class="text-danger"></div>

<div class="container mt-5">
    <form asp-action="Create" method="post">
        <div class="form-group text-center">
            <h1 for="name">Новая роль</h1>
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <input name="name" class="form-control" />
                </div>
            </div>
        </div>
        <p></p>
        <div class="form-group text-center">
            <button type="submit" class="btn btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-floppy2-fill" viewBox="0 0 16 16">
                    <path d="M12 2h-2v3h2z" />
                    <path d="M1.5 0A1.5 1.5 0 0 0 0 1.5v13A1.5 1.5 0 0 0 1.5 16h13a1.5 1.5 0 0 0 1.5-1.5V2.914a1.5 1.5 0 0 0-.44-1.06L14.147.439A1.5 1.5 0 0 0 13.086 0zM4 6a1 1 0 0 1-1-1V1h10v4a1 1 0 0 1-1 1zM3 9h10a1 1 0 0 1 1 1v5H2v-5a1 1 0 0 1 1-1" />
                </svg>
            </button>
        </div>
    </form>
</div>
